<div class="backgroundFooter d-flex">
    <div class="p-2 align-self-center ml-2">
      T:0365 240 627 | toilahoi007@gmail.com
    </div>
    <div class="p-2  align-self-center">
      <button class="btn-secondary m-1 icon-width"><i class="fa fa-bold"></i> </button>
      <button class="btn-secondary m-1 icon-width"><i class="fa fa-facebook-f"></i></button>
      <button class="btn-secondary m-1 icon-width"><i class="fa fa-linkedin" ></i></button>
      <button class="btn-secondary m-1 icon-width"><i class="fa fa-twitter"></i></button>

    </div>
  <div class="ml-auto p-2 align-self-center mr-2">
    <i class="fa fa-copyright"></i>
    Copyright 2018 By 
    <a class="linedown" href="http://www.example.com">UIT Best Group</a>
  </div>
</div>
