<div class="backgroundFooter d-flex">
    <div class="p-2 align-self-center ml-2">
      T:0365 240 627 | toilahoi007@gmail.com
    </div>
    <div class="p-2  align-self-center">
      <button class="btn-secondary m-1"><i class="fa fa-bold"></i> </button>
      <button class="btn-secondary m-1"><i class="fa fa-facebook-f"></i></button>
      <button class="btn-secondary m-1"><i class="fa fa-linkedin" ></i></button>
      <button class="btn-secondary m-1"><i class="fa fa-twitter"></i></button>
    </div>
  <div class="ml-auto p-2 align-self-center mr-2"><i class="fa fa-copyright"></i>2018 by Group 5  University of Information Technology</div>
  <div class="ml-2 mr-auto p-2 align-self-center">
    <i class="fa fa-copyright"></i>
    <span>
      Copyright 2018 By
    </span>
    <a class="linedown" href="http://www.example.com">UIT Best Group</a>
  </div>
  <div class="ml-2 mr-auto p-2 align-self-center hiddenmobile">
    Tel: 0365 240 627 | toilahoi007@gmail.com
  </div>
  <div class="ml-2 mr-auto p-2 align-self-center displaymobile">
    Email: toilahoi007@gmail.com
  </div>
  <div class="ml-2 mr-auto p-2 align-self-center displayphonemobile">
    Tel: 0365 240 627
  </div>
  <div class="p-2  align-self-center displayallicon">
    <button class="btn-secondary m-1 icon-width displayicon"><i class="fa fa-bold"></i> </button>
    <button class="btn-secondary m-1 icon-width"><i class="fa fa-facebook-f"></i></button>
    <button class="btn-secondary m-1 icon-width displayicon"><i class="fa fa-linkedin" ></i></button>
    <button class="btn-secondary m-1 icon-width"><i class="fa fa-twitter"></i></button>
  </div>

</div>
