.backgroundFooter{
   background-color: #fdfdfd;
   min-height: 50px ;
}
.icon-width{
    width: 30px;
}


/* ---------------------------------------------- */
/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT (Non-Mobile First Method)*/
@media only screen and (max-width : 1200px) {
    .linedown{
        display: block;
        text-align: center;
        padding-left: 12px;
    }
}
  
@media only screen and (max-width : 992px) {
    .linedown{
        display: inline;
        text-align: center;
        padding-left: 12px;
    }
}

@media only screen and (max-width : 789px) {
    .linedown{
        display: block;
        text-align: center;
        padding-left: 12px;
    }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}
  