.backgroundInfoCard{
  background-size: cover;
  height: 450px;
  width: 480px;
  background: url("../../../assets/images/container1.png") no-repeat left center;
}

.backgroundInfoCard:hover{
  background: url("../../../assets/images/borderContainer1.png") no-repeat left center;
}
.rotateCard{
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-1deg);
}


/* ---------------------------------------------- */
/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT (Non-Mobile First Method)*/

@media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 992px) {}


@media only screen and (max-width : 768px) {
 
}

@media only screen and (max-width : 480px) {

}
