<div class="position">
  <contact-form class="positionInfo"></contact-form>
  <info-card class="positionCard1" title={{cardOne.title}}
             first_paragraph={{cardOne.first_paragraph}}
             second_paragraph={{cardOne.second_paragraph}}>
  </info-card> <info-card class="positionCard2"  title={{cardTwo.title}}
             first_paragraph={{cardTwo.first_paragraph}}
             second_paragraph={{cardTwo.second_paragraph}}>
  </info-card>
  <info-card class="positionCard3" title={{cardThree.title}}
             first_paragraph={{cardThree.first_paragraph}}
             second_paragraph={{cardThree.second_paragraph}}>
  </info-card>
  <img class="positionPin" alt="pin" src="../../../assets/images/pin2.png"/>
  <img class="positionPin2" alt="pin2" src="../../../assets/images/pin2.png"/>
  <img class="positionPin3" alt="pin3" src="../../../assets/images/pin2.png"/>
  <img class="positionPin4" alt="pin4" src="../../../assets/images/pin1.png"/>
</div>

