.backgroundProjectCard{
  background-size: cover;
  height: 528px;
  width: 632px;
  background: url("../../assets/images/container3.png") no-repeat left center;
}

.backgroundProjectCard:hover{
  background: url("../../assets/images/borderContainer3.png") no-repeat left center;
}
.rotateProjectCard{
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari */
  transform: rotate(2deg);
}

.fontSizeIcon{
  font-size: 50px;
  color: #d5dade;
}

