<div class="backgroundInfo" @Resume>
  <div class="d-flex align-items-center justify-content-center headerResume  ">
    <div class="boxTitle">
      <div class="borderBox">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <h3>Vũ Khắc Hợi</h3>
          <h3>K.T.P.M - 2015</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center lineHeight">
    <div class="line lineHeight"></div>
  </div>
  <div class="d-flex justify-content-between avatar">
    <div class="w-33 ">
      <div class=" text-center mr-5 ml-5 border-bottom">
        <h4 class="colorTitle ">PROFILE</h4>
      </div>
      <div class="pl-3 pr-3 pt-1 text-center">
        I'm a fourth of year student at
        University Of Infomation Technology,
        with good knowledge of Object
        Oriented Analysis and Design,
        Database Design. Learning new l
        anguages and technologies is what
        I am passionate about.
      </div>
    </div>
    <div class="w-33 d-flex align-items-center justify-content-center">
      <img class="rounded-circle" src="../../../assets/images/me.png" alt="me">
    </div>
    <div class="w-33">
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
        <div class="mt-2">56 Tan Lap, Di An </div>
        <div class="ml-auto h3 w-50px text-center"><i class="fa fa-home" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
        <div class="mt-2">toilahoi007@gmail.com</div>
        <div class="ml-auto h3 w-50px text-center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
        <div class="mt-2">github.com/hoideptrai</div>
        <div class="ml-auto h3 w-50px text-center"><i class="fa fa-television" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
        <div class="mt-2">0365 240 627</div>
        <div class="ml-auto h3 w-50px text-center"><i class="fa fa-mobile" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-5">
    <div class="w-33 mt-5 border-bottom border-right ">
      <div class="box d-flex align-items-center justify-content-center">
        <h4 class="colorTitle ">EDUCATION</h4>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal3 ml-auto margin-20 "></div>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal4 ml-auto margin-70 margin-right-15p "></div>
      </div>
      <div class="d-flex">
        <div class="lineVehical ml-auto "></div>
      </div>
      <div class="text-center mt-3">
        <div class="font-weight-bold">FRONT-END DEVELOPER</div>
        <div>TMA Solutions</div>
        <div>2018-now</div>
      </div>
      <div class="text-center mt-3">
        <div class="font-weight-bold">INTERNSHIP ANDROID</div>
        <div>NKS company</div>
        <div>2017-2018</div>
      </div>
      <div class="text-center mt-3 mb-3">
        <div class="font-weight-bold">STUDENT HERE</div>
        <div>UIT University</div>
        <div>2015-2020</div>
      </div>
    </div>
    <div class="w-33 d-flex flex-column border-bottom">
      <div class="box d-flex align-items-center justify-content-center alert-info">
        <h4 class="colorTitle ">SKILLS</h4>
      </div>
      <div class="row mt-3 pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>ASP.net core</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="row pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>ReactJS</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="row pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>Angular6</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="row pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>PhotoshopCC</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="row pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>Algorithm</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="row pt-3 pb-2 pr-2 pl-2">
        <div class="col-md-5">
          <div>OOP</div>
        </div>
        <div class="col-md-7">
          <progressbar class="progress-striped active" [value]="80" type="info"><i>80 / 100</i></progressbar>
        </div>
      </div>
      <div class="box2 d-flex align-items-center justify-content-center alert-info mt-auto magrin-bottom-20px">
        <h4 class="colorTitle ">EXPERIENCE</h4>
      </div>

    </div>
    <div class="w-33 mt-5 border-bottom border-left">
      <div class="box d-flex align-items-center justify-content-center">
        <h4 class="  colorTitle  ">EXPERTISE</h4>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal1 mr-auto margin-20 "></div>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal2 mr-auto margin-70 margin-left-15p "></div>
      </div>
      <div class="d-flex">
        <div class="lineVehical mr-auto "></div>
      </div>
      <div class="d-flex align-items-center justify-content-center flex-column mt-3">
        <div class="expertise">WEB DESIGN</div>
        <div class="expertise">PROJECT DESIGN</div>
        <div class="expertise">DESIGN DATABASE</div>
        <div class="expertise">OBJECT ORIENTED ANALYSIS</div>
        <div class="expertise">REPORT WRITING</div>
        <div class="expertise">HTML5 & CSS3</div>
        <div class="expertise">QUALITY CONTROL</div>

      </div>
    </div>

  </div>
  <div class="row ml-4 mr-4 mt-5">
    <div class="col-md-9 ">
      <h4 class="colorTitle ">Front-End Developer</h4>
      <p>
        TMA Solutions is a privately owned software outsourcing company
        of Vietnam, with headquarters in Ho Chi Minh city Vietnam and other
        offices in Canada, United States, Ireland, Australia. TMA Solutions is
        one of the largest offshore software providers in Vietnam. At here. I can
      </p>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
    </div>
    <div class="col-md-3 mt-5 pr-3 alert-info d-flex align-items-center justify-content-center flex-column">
      <div>TMA Solutions</div>
      <div>Quang Trung Software</div>
      <div> 2018-now</div>
    </div>
  </div>
  <div class="row ml-4 mr-4 mt-5">
    <div class="col-md-9 ">
      <h4 class="colorTitle ">Android Internship</h4>
      <p>
        TMA Solutions is a privately owned software outsourcing company
        of Vietnam, with headquarters in Ho Chi Minh city Vietnam and other
        offices in Canada, United States, Ireland, Australia. TMA Solutions is
        one of the largest offshore software providers in Vietnam. At here. I can
      </p>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
      <div class="ml-5">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        Design database with my  passion team.
      </div>
    </div>
    <div class="col-md-3 mt-5 pr-3 alert-info d-flex align-items-center justify-content-center flex-column">
      <div>NKS company</div>
      <div>District 3 HCM</div>
      <div> 2017-2018</div>
    </div>
  </div>
</div>
<footer class="footer mt-3"></footer>
