.backgroundContact {
  background-size: cover;
  background-color: #fdfdfd;
  padding-bottom: 30px;
  min-height: 600px;
  border-radius: 5px;
}

.containerForm {
  width: 80%;
  height: 80%;
}

.textGold {
  color: gold;
}

input {
  border: none;
  background-color: #d5dade;
  width: 80%;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  min-height: 35px;
  margin-top: 20px;
}

textarea {
  min-height: 90px;
  border: none;
  background-color: #d5dade;
  width: 80%;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  margin-top: 20px;
}

.btn-sent {
  min-height: 45px;
  background-color: black;
  color: #fdfdfd;
  font-weight: bold;
  min-width: 180px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-sent:hover{
  background-color: gold;
}
.sizeImage{
  width: 50%;
}
