
<div @Contact class="backgroundContact d-flex align-items-center justify-content-center ">

  <div class="containerForm row">

    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img class="sizeImage" src="../../../assets/images/envelop.png" alt="envelop">
    </div>
    <div class="col-md-6">
      <form>
        <div class="text-center font-weight-bold h3 textGold">Contact me !</div>
        <input type="text" placeholder="Name" >
        <input type="text" placeholder="Email" >
        <input type="text" placeholder="Subject" >
        <textarea name="message" id="message" placeholder="Message"></textarea>
        <div class="text-center"> <button class="btn-sent">Send</button></div>
      </form>
    </div>
  </div>
</div>
