.backgroundInfo {
  background-size: cover;
  background-color: #fdfdfd;
  padding-bottom: 30px;
  border-radius: 5px;
}


.thickLine{
  font: normal normal normal 6.5vw/1.2em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
  color: #000000;
  white-space:nowrap;
}

.lineHeight{
  line-height: 1.8rem;
}

.goldColor{
  color: gold;
}


.borderBottom{
  border-bottom: black 3px dashed;
}

.btn-dark{
  background-color: black;
  color: #fdfdfd;
  min-height: 50px;
  min-width: 24%;
  font-size:1.75rem;
  font-weight: bold;
}

.btn-dark:hover{
  background-color: gold;
}
.containerHome{
  margin-left: 10%;
  margin-right: 10%;
}

p{
  color:black !important;
}

.hide-display{
  display: none;
}

.pt-5{
  padding-top: 3rem!important;
}

a.text-white:hover, a.text-white:focus{
  color: #b3b3b3 !important;
}
.navbar-mobile{
  display: none;
}

.downlinehobby{
  display: none; 
}

/* ---------------------------------------------- */
/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT (Non-Mobile First Method)*/

@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {
  .hide-display{
    display: inline-block;
  }
}

@media only screen and (max-width : 768px) {
  .pt-5{
    padding-top: 2rem!important;
  }
  .navbar-mobile{
    display: block;
  }
}

@media only screen and (max-width : 767px) { 
  .downlinehobby{
    display: block;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width : 480px) {

}
