<div class="backgroundInfo">
  <div class="containerHome">
    <div class="borderBottom">
      <br/>
      <h1 class="thickLine pt-5 lineHeight">Welcome</h1>
      <h1 class="thickLine pt-5 lineHeight">I'm Vu Khac Hoi,</h1>
      <h1 class="thickLine pt-5 pb-5 lineHeight goldColor">here to write for you.</h1>
    </div>
  </div>
  <div class="containerHome">
    <br/>
    <div class="d-flex justify-content-between">
      <button class="btn btn-dark">Resume</button>
      <button class="btn btn-dark">Writing</button>
      <button class="btn btn-dark">Contact</button>
    </div>
  </div>
  <div class="containerHome">
    <br/>
    <br/>
  <div class="row">
    <div class="col-md-7 ">
      <h5 class="fontTitle">Who I Am ?</h5>
      <p> I am living in Thu Duc  District, HCM City.
        I have been  writing code for a couple of years
        and have gotten my  hand  dirty  in  various
        languages  and frameworks. I love coding back-end
        development but  also  comfortable  if  I have
        to  code  in  the front-end.
      </p>
      <p>
        I  am  responsible  for  my own  project  and
        take self-development  seriously .I
        task  and try to push myself to the limit
        every single day and enjoy every second of it.
        My goal is to work as a web developer in a  team
        of passionate,  amazing  people and work hard
        to achieve it.
      </p>
      <p>
        If  you  are an  employer looking to hire or a
        friend who  just  wanna  talk,
        feel  free  to  contact  me.
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h5 class="fontTitle">Skill ?</h5>
      <p>
        I  started  with  C  and C++ ,   migrated  to
        C# soon later and now really interested in
        JavaScript
      </p>
      <p>
        I    can     use     various frameworks / libraries
        Android/Java, ASP.NET Core, React / Angular,
        Redux, Express
      </p>
      <p>
        I also know about tools and utilities to make development
        process easier Visual Studio,
        Intellij IDEA,Webpack
      </p>

    </div>
  </div>
  </div>

</div>
<footer class="footer mt-3"></footer>


