<div class="backgroundInfo" @Home>
  <!-- Start navigation mobile -->
  <div class="containerHome navbar-mobile">
    <br>
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" 
                data-toggle="collapse" 
                data-target="#navbarToggleExternalContent" 
                aria-controls="navbarToggleExternalContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
        
      <div class="collapse show" id="navbarToggleExternalContent">
        <!-- <div class="collapse" id="navbarToggleExternalContent"> -->
        <div class="bg-dark p-1 pl-5">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item active" style="font-size: 18px">
              <a class="nav-link link text-white" routerLink="/home">
                <i class="fa fa-home" style="font-size: 19px"></i> Home
              </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
              <a class="nav-link link text-white" routerLink="/resume">
                  <i class="fa fa-play" style="font-size: 18px"></i> Resume
              </a>
            </li>
            <li class="nav-item" style="font-size: 18px">
              <a class="nav-link link text-white" routerLink="/contact">
                <i class="fa fa-address-card" style="font-size: 14px"></i> Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End navigation mobile -->

  <div class="containerHome">
    <div class="borderBottom">
      <br/>
      <h1 class="thickLine pt-5 lineHeight">Welcome</h1>
      <h1 class="thickLine pt-5 lineHeight">I'm Vu Khac Hoi</h1>
      <h1 class="thickLine pt-5 pb-5 lineHeight goldColor">Here to write for you</h1>
    </div>
  </div>
  <div class="containerHome">
    <br/>
    <div class="d-flex justify-content-between">
      <button class="btn btn-dark">Resume</button>
      <button class="btn btn-dark">Writing</button>
      <button class="btn btn-dark">Contact</button>
    </div>
  </div>
  <div class="containerHome">
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-7 ">
        <h5 class="fontTitle">Who I Am ?</h5>
        <p> I am living in Thu Duc District, HCM City.
          I have been writing code for a couple of years
          and have gotten my hand dirty in  various
          languages and frameworks. I love coding back-end
          development but also comfortable if I have
          to code in the front-end.
        </p>
        <p>
          I  am  responsible  for  my own  project  and
          take self-development  seriously. I
          task  and try to push myself to the limit
          every single day and enjoy every second of it.
          My goal is to work as a web developer in a  team
          of passionate,  amazing  people and work hard
          to achieve it.
        </p>
        <p>
          If  you  are an  employer looking to hire or a
          friend who  just  wanna  talk,
          feel  free  to  contact  me.
        </p>
        <br>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h5 class="fontTitle">Skill ?</h5>
        <p>
          I  started  with  C  and C++,  migrated  to
          C# soon later and now really interested in
          JavaScript.
        </p>
        <p>
          I    can     use     various frameworks / libraries
          Android/Java, ASP.NET Core, React / Angular,
          Redux, Express.
        </p>
        <p>
          I also know about tools and utilities to make development
          process easier Visual Studio,
          Intellij IDEA,Webpack.
        </p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 hide-display">
        <h5 class="fontTitle">University</h5>
        <p>I'm fourth of student at Ho Chi Minh City University of Information Technology (or UIT) 
          is a member of Vietnam National University - Ho Chi Minh City (VNU-HCM) and is the only 
          university of Vietnam that undertakes information and communication technology research 
          and focused, in-depth training. 
        </p>
        <p>
          The University has the youngest management, research and teaching staff of any VNU-HCM member, 
          bringing great enthusiasm along with dynamic and creative advantages  proud to be the only 
          university in Vietnam to specialize in information technology and communications, 
          also focusing on fostering intellectual development.
        </p>
        <br>
        <h5 class="fontTitle">Hometown</h5>
        <p>The City of Da Lat is the capital of Lam Dong Province and can be found 5000 feet about sea
          level towards the south of the Central Highlands Region of Vietnam. Surrounded by thousands 
          of pine trees it is home to almost a quarter of a million people. Da Lat has its own weather 
          system, being temperate as apposed to Vietnam’s normally tropical climate. The valleys around 
          the city are often shrouded in mist giving rise to the city’s nickname of City of Eternal Spring.
        </p>
        <p>
          The large flower industry here produces Hydrangeas and Strawflowers also known as Golden 
          Everlasting. Strawberries and Mulberries are also grown and the local preserve of these 
          and Sweet Potato.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 hide-display">
        <h5 class="fontTitle">Hobbies</h5>
        <p>
          I like photography because it’s a creative hobby and it makes you notice the world around you.
        </p>
        <p>
          I love capturing special moments or unusual or beautiful images, and it’s a great feeling to be 
          able to look back through my pictures and relive different experiences.
        </p>
        <p>
          These memories usually cheer me up. The last time I took photos on a special occasion was at my 
          friend’s wedding a few weeks ago.
        </p>
        <p>
          I got some great pictures of the bride and groom and their guests celebrating.
        </p>
        <p>
          I can become a composer. I have compose 10 song and published on my SoundClound. If you want 
          to following me, feel free to contact me.
        </p>
        <p>
          I  very happy to meet you.
        </p>
      </div>
    </div>

  </div>

</div>
<footer class="footer mt-3"></footer>


