<div class="position">
  <info class="positionInfo" [home]="home"></info>
  <info-card class="positionCard1" title="University" [info]="home?.university">
  </info-card>
  <info-card class="positionCard2" title="Hometown" [info]="home?.hometown">
  </info-card>
  <info-card class="positionCard3" title="Hobbies" [info]="home?.hobbies">
  </info-card>
  <img class="positionPin" alt="pin" src="../../../assets/images/pin2.png" />
  <img class="positionPin2" alt="pin2" src="../../../assets/images/pin2.png" />
  <img class="positionPin3" alt="pin3" src="../../../assets/images/pin2.png" />
  <img class="positionPin4" alt="pin4" src="../../../assets/images/pin1.png" />
</div>