<div class="backgroundLogin ">
  <div class="d-flex justify-content-center align-items-center flex-column h-100">
    <div class="backgroundHeader">
      <div class="justify-content-center d-flex align-items-center thickLine  h-100">Welcome To Portfolio</div>
    </div>
    <div class="backgroundProjectCard ">
      <br /><br />
      <div class="justify-content-center d-flex mt-5 thickLineLogin welcom-display-mobi">Welcome To Portfolio</div>
      <div class="justify-content-center d-flex mt-5 thickLineLogin">Login</div>
      <br />
      <div class="min-height-50 justify-content-center  d-flex text-danger ">{{message}}</div>
      <form [formGroup]="loginForm" class="mt-2">
        <div class="form-group ">
          <input placeholder="Username" formControlName="username" [(ngModel)]="username" name="username" type="text"
            id="username" />
          <div class="min-height-50">
            <small class="text-danger float-right">
              <div *ngIf="getUsername.pending">Checking for unique</div>
              <div *ngIf="getUsername.touched && getUsername.invalid">
                <div *ngIf="getUsername.errors.required">Username is required</div>
                <div *ngIf="getUsername.errors.minlength">Username should minimum
                  {{getUsername.errors.minlength.requiredLength}} characters</div>
                <div *ngIf="getUsername.errors.maxlength">Username should maximum
                  {{getUsername.errors.maxlength.requiredLength}} characters</div>
              </div>
            </small>
          </div>
        </div>
        <div class="form-group">
          <input class="mt-2" formControlName="password" placeholder="Password" [(ngModel)]="password" type="password"
            name="password" id="password">
          <div class="min-height-50">
            <small class="text-danger float-right">
              <div *ngIf="getPassword.pending">Checking for unique</div>
              <div *ngIf="getPassword.touched && getPassword.invalid">
                <div *ngIf="getPassword.errors.required">Password is required</div>
                <div *ngIf="getPassword.errors.minlength">Password should minimum
                  {{getPassword.errors.minlength.requiredLength}} characters</div>
                <div *ngIf="getPassword.errors.maxlength">Password should maximum
                  {{getPassword.errors.maxlength.requiredLength}} characters</div>
              </div>
            </small>
          </div>
        </div>
        <br />
        <div class="d-flex align-items-center  w-100 ">
          <div class="p-2">
            <div class="d-flex align-items-start align-items-center " style="margin-left:-20px">
              <input id="remember" type="checkbox" name="remember" value="checked">
              <label for="remember">
                <small>Remember password</small>
              </label>
            </div>
          </div>
          <div class="p-2 ml-auto btnLogin-mobi"><button class="btn btn-success" style="min-width:100px" (click)="login()">Login</button></div>
        </div>
        <div>
          <span>
            Doesn't have an account?
          </span>
          <a href="" routerLink="/register">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>