.toast {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px 15px 10px 48px; 
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd #d6d6d6 #cfcfcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}

.nomalToast{
  width: 290px;
}

.specialToast{
  width: 350px;
}
img{
  width: 150px;
  margin-top:100px;
  height:200px;
}
.backgroundCloudCall{
  background-size: cover;
  background: url("../../../assets/images/cloudCall.png") no-repeat left center;
  width: 200px;
  color: black;
  white-space: pre-line;
  /* word-break:break-all; */
  min-height: 180px !important;
}

.heightContent{
  height: 150px;
}