<div class="backgroundProjectCard p-5" @Card  [@CardHover]="stateHover"
     (mouseenter)="togleStateAnimation('enter')"
     (mouseleave)="togleStateAnimation('leave')">
  <div class="rotateProjectCard h-100 p-4 d-flex align-items-center flex-column">
    <div class="mb-auto fontSizeText">
      <div class="text-center">
        <h5 class="fontTitle text-danger">{{project?.name}}</h5>
      </div>
      <p>{{project?.param1}}</p>
      <p>{{project?.param2}}</p>
    </div>
    <div class="d-flex w-100 flex-row align-items-center justify-content-between fontSizeIcon">
      <i  *ngFor="let icon of project?.icons" class={{icon}}></i>
    </div>
  </div>
</div>
