<div class="backgroundInfo" @Home>
  <!-- Start navigation mobile -->
  <div class="containerHome navbar-mobile">
    <br>
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" title="Menu"></span>
        </button>
      </nav>

      <div class="collapse" id="navbarToggleExternalContent">
        <!-- <div class="collapse" id="navbarToggleExternalContent"> -->
        <div class="bg-dark p-1 pl-5">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item active" style="font-size: 20px">
              <a class="nav-link link text-white" routerLink="/home">
                <i class="fa fa-home" style="font-size: 19px"></i> Home
              </a>
            </li>
            <li class="nav-item" style="font-size: 20px">
              <a class="nav-link link text-white" routerLink="/resume">
                <i class="fa fa-play" style="font-size: 18px"></i> Resume
              </a>
            </li>
            <li class="nav-item" style="font-size: 20px">
              <a class="nav-link link text-white" routerLink="/contact">
                <i class="fa fa-address-card" style="font-size: 14px"></i> Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End navigation mobile -->

  <div class="containerHome">
    <div class="borderBottom">
      <br />
      <h1 class="thickLine pt-5 lineHeight mb-size">Welcome</h1>
      <h1 class="thickLine pt-5 lineHeight mb-size">I'm <input class="min-width" [readonly]="!isModify" [class.inputForm]="!isModify"
          name="name" (ngModelChange)="changeValueInput()" placeholder="Name" [(ngModel)]="home.name"></h1>
      <h1 class="thickLine pt-5 pb-5 lineHeight goldColor mb-size">Here to write for you</h1>
    </div>
  </div>
  <div class="containerHome">
    <br />
    <div class="d-flex justify-content-between">
      <button class="btn btn-dark fontsizemb" routerLink="/resume">Resume</button>
      <button class="btn btn-dark fontsizemb">Writing</button>
      <button class="btn btn-dark fontsizemb" routerLink="/contact">Contact</button>
    </div>
  </div>
  <div class="containerHome">
    <br />
    <br />
    <div class="row">
      <div class="col-md-7 ">
        <h5 class="fontTitle">Who I Am ?</h5>
        <div *ngIf="!isModify">
          <p>{{home?.whoIam?.param1}}</p>
          <p>{{home?.whoIam?.param2}}</p>
          <p>{{home?.whoIam?.param3}}</p>
        </div>
        <div *ngIf="isModify">
          <p><textarea class="w-100" rows="4" name="WhoIAmParam1" (ngModelChange)="changeValueInput()" placeholder="param 1"
              [(ngModel)]="home.whoIam.param1"></textarea></p>
          <p><textarea class="w-100" rows="4" name="WhoIAmParam2" (ngModelChange)="changeValueInput()" placeholder="param 2"
              [(ngModel)]="home.whoIam.param2"></textarea></p>
          <p><textarea class="w-100" rows="4" name="WhoIAmParam3" (ngModelChange)="changeValueInput()" placeholder="param 3"
              [(ngModel)]="home.whoIam.param3"></textarea></p>
        </div>
        <br>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h5 class="fontTitle">Skill ?</h5>
        <div *ngIf="!isModify">
          <p>{{home?.skill_summary?.param1}}</p>
          <p>{{home?.skill_summary?.param2}}</p>
          <p>{{home?.skill_summary?.param3}}</p>
        </div>
        <div *ngIf="isModify">
          <p><textarea class="w-100" rows="4" name="skill_summaryParam1" (ngModelChange)="changeValueInput()"
              placeholder="param 1" [(ngModel)]="home.skill_summary.param1"></textarea></p>
          <p><textarea class="w-100" rows="4" name="skill_summaryParam2" (ngModelChange)="changeValueInput()"
              placeholder="param 2" [(ngModel)]="home.skill_summary.param2"></textarea></p>
          <p><textarea class="w-100" rows="4" name="skill_summaryParam3" (ngModelChange)="changeValueInput()"
              placeholder="param 3" [(ngModel)]="home.skill_summary.param3"></textarea></p>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 hide-display">
        <h5 class="fontTitle">University</h5>
        <div *ngIf="!isModify">
          <p>{{home?.university?.param1}}</p>
          <p>{{home?.university?.param2}}</p>
        </div>
        <div *ngIf="isModify">
          <p><textarea class="w-100" rows="4" name="universityParam1" (ngModelChange)="changeValueInput()" placeholder="param 1"
              [(ngModel)]="home.university.param1"></textarea></p>
          <p><textarea class="w-100" rows="4" name="universityParam2" (ngModelChange)="changeValueInput()" placeholder="param 2"
              [(ngModel)]="home.university.param2"></textarea></p>
        </div>
        <br>
        <h5 class="fontTitle">Hometown</h5>
        <div *ngIf="!isModify">
          <p>{{home?.hometown?.param1}}</p>
          <p>{{home?.hometown?.param2}}</p>
        </div>
        <div *ngIf="isModify">
          <p><textarea class="w-100" rows="4" name="hometownParam1" (ngModelChange)="changeValueInput()" placeholder="param 1"
              [(ngModel)]="home.hometown.param1"></textarea></p>
          <p><textarea class="w-100" rows="4" name="hometownParam2" (ngModelChange)="changeValueInput()" placeholder="param 2"
              [(ngModel)]="home.hometown.param2"></textarea></p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 hide-display">
        <p class="downlinehobby"></p>
        <h5 class="fontTitle">Hobbies</h5>
        <div *ngIf="!isModify">
          <p>{{home?.hobbies?.param1}}</p>
          <p>{{home?.hobbies?.param2}}</p>
        </div>
        <div *ngIf="isModify">
          <p><textarea class="w-100" rows="4" name="hobbiesParam1" (ngModelChange)="changeValueInput()" placeholder="param 1"
              [(ngModel)]="home.hobbies.param1"></textarea></p>
          <p><textarea class="w-100" rows="4" name="hobbiesParam2" (ngModelChange)="changeValueInput()" placeholder="param 2"
              [(ngModel)]="home.hobbies.param2"></textarea></p>
        </div>
      </div>
    </div>
  </div>

</div>
<footer class="footer mt-3"></footer>