/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~devicon/devicon.min.css";
.fontTitle{
  font: normal normal normal 30px/1.2em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
  line-height: 1.2rem;
  font-family: Impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT (Non-Mobile First Method)*/

/* @media only screen and (max-width : 1200px) {
  #slider_content {
      width: auto;
      margin-right: 50px;
  }

  #slider_content h2 {
      font-size: 18px;
  }

  #slider_content p {
      font-size: 14px;
  }

  #slider_content p .responsive_button {
      display: inline;
  }
}

@media only screen and (max-width : 992px) {
  header h1 {
      margin-left: 10px;
      font-size: 35px;
  }    

  header p {
      margin-left: 20px;
  }    

  #three_columns article {
      float: none;
      margin: 30px auto 0 auto;
      width: 60%;
  }

  #spacer {
      font-size: 15px;
  }

  #spacer .search {
      margin-top: 19px;
      margin-right: -385px;
  }

  #spacer p {
      margin-left: -370px;
  }

  input {
      padding: 4px;
      font-size: 14px;
  }

  input[type="submit"] {
      padding: 1px 14px;
  }
  #four_columns {
      width: 500px;
  }

  #four_columns .img-item {
      margin-right: 50px;
  }

  #four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4) {
      margin-top: 25px;
  }

  #multiple_columns .column1, #multiple_columns .column2 {
      float: none;
      max-width: 500px;
      margin: 50px auto 0 auto;
      padding: 0 30px;
  }

  .column2 .row {
      float: none;
      margin: 0 0 40px 0;
  }

  .column2 .row p{
      width: 100%;
      padding-top: 10px;
  }

  #extra_content .column {
      margin: 0 20px 15px 0;
  }    
}

@media only screen and (max-width : 768px) {
 .container {
      height: 1px;
      display:none;
  }

  header {
      height: 120px;
  }

  header h1 {
      margin-left: 10px;
      font-size: 35px;
  }    

  header p {
      margin-left: 20px;
  }    

  nav > ul > li {
      margin-left:30px;
  }

  #spacer {
      height: 100px;
  }

  #spacer p {
      text-align: center;
      position: static;
      margin: 0 auto;
      padding: 15px 0 7px 0;
      font-size: 13px;        
  }

  #spacer .search {
      text-align: center;
      position: static;
      margin: 0 auto;
  }

  footer {
      padding-bottom: 70px;
      height: auto;
  }

  #extra_content {
      width: 350px;
      margin: 0 auto;
  }

  #extra_content .column {
      margin-top: 30px;
      float: none;
      font-size: 14px;
      width: 100%;
      margin-right: 10px;        
  }

  #extra_content .social {
      display: none;
  }
  #page_owner_info .wrapper .copyright {
      margin-left:10px;
  }    
  #page_owner_info .wrapper .social {
      right: 10px;
  }
}

@media only screen and (max-width : 480px) {
  header {
      margin-top: 80px;
      height: 100px;
      text-align: center;
  }

  input {
      width: auto;
  }

  header h1 {
      font-size: 35px;
  }

  header p {
      margin: auto;
      font-size: 16px;
  }

  #spacer {
      height: auto;
      padding-bottom: 15px;
  }

  #spacer p {
      text-align: center;
      position: static;
      margin: 0 10px;
      padding: 15px 0 7px 0;
      font-size: 13px;        
  }
  #three_columns article {
      float: none;
      width: 300px;
  }
  #four_columns {
      width: auto;
  }

  #four_columns .img-item {
      width: 200px;
      float: none;
      margin: 25px auto 0 auto;
  }

  #four_columns h2 {
      margin: 0 30px;
  }

  .column2 .row {
      margin: 0 0 40px 0;
      width: auto;
  }
  .column2 .row p {
      width: auto;
  }

  #multiple_columns .column1, #multiple_columns .column2 {
      padding: 0 20px;
  }

  #extra_content {
      width: auto;
  }

  #extra_content .column {
      margin: 0 auto 15px auto;
      max-width: 300px;
  }
  
  #page_owner_info .wrapper {
      padding-top: 15px;
  }

  #page_owner_info .wrapper .copyright {
      display: block;
      text-align: center;
      width: 100%;
      margin-left: 0px;
  }

  #page_owner_info .wrapper .social {
      display:none;
  }
  
  nav ul {
      display: none;
  }    
  
  label {
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
  }

  label:after {
      content: '';
      display: block;
      width: 30px;
      height: 5px;
      background: #EDA28C;
      margin: 7px 5px;
      box-shadow: 0px 10px 0px #EDA28C, 0px 20px 0px #EDA28C
  }

  #nav:checked ~ ul {
      display: block;
      z-index: 9999;
      position: absolute;
      right: 15px;
      top: 45px;
      width: 120px;
  }
  
  nav {
      margin: 0;
  }
  
  nav a {
      color: #fff;
  }

  nav ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: left;
      background: #E56038;
      text-indent: 20px;
  }

  nav > ul > li {
      margin-left: 0px;
  }

  nav > ul li ul li {
      display: block;
      float: none;
  }

  nav > ul li ul {
      display: block;
      position: relative;
      width: 100%;
      z-index: 9999;
      float: none;
  }    

} */