/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~devicon/devicon.min.css"; */
.fontTitle{
  font: normal normal normal 30px/1.2em Impact,impact-w01-2010,impact-w02-2010,impact-w10-2010,sans-serif;
  line-height: 1.2rem;
  font-family: Impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}

.inputForm{
  border: none ;
  
}
/* .cdk-overlay-pane{
  position: fixed !important;
  top: 20px;
  right: 20px;
} */