<div *ngIf="url!=='/login'" class="backgroundHeader">
  <div class="d-inline-block w-100 ">
    <a [ngClass]="{'activeRoute' :active==='contact'}" (click)="ActivedRoute('contact')" class="float-right mt-5 ml-10 mr-5 h3 font-weight-bold"
      routerLink="/contact">
      Contact
    </a>
    <a [ngClass]="{'activeRoute' :active==='resume'}" (click)="ActivedRoute('resume')" class="float-right mt-5  ml-10  h3 font-weight-bold"
      routerLink="/resume">
      Resume
    </a>
    <a [ngClass]="{'activeRoute' :active==='home'}" (click)="ActivedRoute('home')" class="float-right mt-5  ml-10  h3 font-weight-bold"
      routerLink="/home">
      Home
    </a>
  </div>
</div>