.backgroundMain {
  width: 100%;
  background-size: auto;
  background-position: center top;
  background-repeat: repeat;
  height: 100%;
  background-image: url(https://static.wixstatic.com/media/214ec6_5ad58bcff90ac51cd673594a611ffad0.png/v1/fill/w_150,h_150,al_c,q_85/214ec6_5ad58bcff90ac51cd673594a611ffad0.webp);
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: gold;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: gold;
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(7);
  }
  5% {
    transform: scale(9);
  }
  39% {
    transform: scale(5);
  }
  45% {
    transform: scale(8);
  }
  60% {
    transform: scale(9);
  }
  100% {
    transform: scale(6);
  }
}


.backgroundContainer{
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 100%;
}

.fixed-layout{
  display: none !important;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: rgba(34, 32, 32, 0.5);
}
.show{
  display: flex !important;
}
/* ---------------------------------------------- */
/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT (Non-Mobile First Method)*/

@media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 992px) {
  .backgroundMain {
    width: 100%;
    background-size: auto;
    background-position: center top;
    background-repeat: repeat;
    height: 100%;
    background-image: url(https://static.wixstatic.com/media/214ec6_5ad58bcff90ac51cd673594a611ffad0.png/v1/fill/w_150,h_150,al_c,q_85/214ec6_5ad58bcff90ac51cd673594a611ffad0.webp);
  }
  .backgroundContainer{
    /* background-color: rgb(221, 221, 221); */
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}