<div class="backgroundInfo" @Resume>
  <!-- Start navigation mobile -->
  <div class="containerHome navbar-mobile">
    <br>
    <div class="pos-f-t">
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" title="Menu"></span>
        </button>
      </nav>
      <!-- <div class="collapse show" id="navbarToggleExternalContent"> -->
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-1 pl-5">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item active" style="font-size: 24px">
              <a class="nav-link link text-white" routerLink="/home">
                <i class="fa fa-home" style="font-size: 22px"></i> Home
              </a>
            </li>
            <li class="nav-item" style="font-size: 24px">
              <a class="nav-link link text-white" routerLink="/resume">
                <i class="fa fa-play" style="font-size: 21px"></i> Resume
              </a>
            </li>
            <li class="nav-item" style="font-size: 24px">
              <a class="nav-link link text-white" routerLink="/contact">
                <i class="fa fa-address-card" style="font-size: 17px"></i> Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End navigation mobile -->

  <div class="d-flex align-items-center justify-content-center headerResume">
    <div class="boxTitle">
      <div class="borderBox">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <h3 class="font mg-lr-titlemb"><input class="text-center" [readonly]="!isModify" [class.inputForm]="!isModify" name="name"
              (ngModelChange)="changeValueInput()" placeholder="Name" [(ngModel)]="info.name">
          </h3>
          <h3 class="fontSmall">
            <input class="text-center" [readonly]="!isModify" [class.inputForm]="!isModify" name="department"
              (ngModelChange)="changeValueInput()" placeholder="Department" [(ngModel)]="info.department">
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center lineHeight">
    <div class="line lineHeight"></div>
  </div>
  <div class="d-flex justify-content-between avatar">
    <div class="w-33">
      <div class="text-center mr-5 ml-5 border-bottom hiddenProfile">
        <h4 class="colorTitle ">PROFILE</h4>
      </div>
      <div class="pl-3 pr-3 pt-1 text-center hiddenProfile w-100">
        <div *ngIf="!isModify">{{info?.profile}}</div>
        <div *ngIf="isModify" class="w-100">
          <textarea class="w-100 text-center" rows="7" (ngModelChange)="changeValueInput()" placeholder="param 1" name="profile"
            [(ngModel)]="info.profile"></textarea>
        </div>
      </div>
    </div>
    <div class="w-33 d-flex align-items-center justify-content-center flex-column ">
      <img class="rounded-circle" src="{{avatar}}" alt="me" [@Shake]="stateHover"
        (mouseenter)="togleStateAnimation('enter')" (mouseleave)="togleStateAnimation('leave')">
      <label for="changeImage" class="btn btn-outline-success mt-4" [class.d-none]="!isModify">
        Change Image
        <input type="file" id="changeImage"  (change)="loadImage($event)" style="display: none" accept=".png,.jpg" />
      </label>
      
    </div>

    <div class="w-33">
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb hiddenProfile">
        <div class="mt-2">
          <input [readonly]="!isModify" [class.inputForm]="!isModify" name="address" (ngModelChange)="changeValueInput()"
            placeholder="Address" [(ngModel)]="info.address">
        </div>
        <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-home" aria-hidden="true"></i></div>
        <div class="posibleFix ml-auto iconhidden2"><i class="fa fa-home" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb hiddenProfile">
        <div class="mt-2">
          <input [readonly]="!isModify" [class.inputForm]="!isModify" name="email" (ngModelChange)="changeValueInput()"
            placeholder="Email" [(ngModel)]="info.email">
        </div>
        <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="posibleFix ml-auto iconhidden2"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb hiddenProfile">
        <div class="mt-2">
          <input [readonly]="!isModify" [class.inputForm]="!isModify" name="otherLink" (ngModelChange)="changeValueInput()"
            placeholder="Other Link" [(ngModel)]="info.otherLink">
        </div>
        <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-television" aria-hidden="true"></i></div>
        <div class="posibleFix ml-auto center2 iconhidden2"><i class="fa fa-television" aria-hidden="true"></i></div>
      </div>
      <div class="d-flex p-1 border-bottom mr-3 m-r-mb hiddenProfile">
        <div class="mt-2">
          <input [readonly]="!isModify" [class.inputForm]="!isModify" name="phone" (ngModelChange)="changeValueInput()"
            placeholder="Phone" [(ngModel)]="info.phone">
        </div>
        <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        <div class="posibleFix ml-auto center iconhidden2"><i class="fa fa-mobile" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>

  <div class="hiddenProfile2">
    <div class="row mt-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="text-center mr-5 ml-5 border-bottom">
          <h4 class="colorTitle ">PROFILE</h4>
        </div>
        <div class="pl-3 pr-3 pt-1 text-center">
          <div *ngIf="!isModify">{{info?.profile}}</div>
          <div *ngIf="isModify" class="w-100">
            <textarea class="w-100 text-center" rows="7" (ngModelChange)="changeValueInput()" placeholder="param 1"
              name="profile" [(ngModel)]="info.profile"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hiddenProfile2 mt-3">
    <div class="row mt-1">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
          <div class="mt-2">
            <input [readonly]="!isModify" [class.inputForm]="!isModify" name="addressMobile" (ngModelChange)="changeValueInput()"
              placeholder="Address" [(ngModel)]="info.address">
          </div>
          <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-home" aria-hidden="true"></i></div>
          <div class="posibleFix ml-auto iconhidden2" @Rotate><i class="fa fa-home" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
          <div class="mt-2">
            <input [readonly]="!isModify" [class.inputForm]="!isModify" name="emailMobile" (ngModelChange)="changeValueInput()"
              placeholder="Email" [(ngModel)]="info.email">
          </div>
          <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
          <div class="posibleFix ml-auto iconhidden2"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
          <div class="mt-2">
            <input [readonly]="!isModify" [class.inputForm]="!isModify" name="otherLinkMobile" (ngModelChange)="changeValueInput()"
              placeholder="Other Link" [(ngModel)]="info.otherLink">
          </div>
          <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-television" aria-hidden="true"></i></div>
          <div class="posibleFix ml-auto center2 iconhidden2"><i class="fa fa-television" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="d-flex p-1 border-bottom mr-3 m-r-mb">
          <div class="mt-2">
            <input [readonly]="!isModify" [class.inputForm]="!isModify" name="phoneMobile" (ngModelChange)="changeValueInput()"
              placeholder="Phone" [(ngModel)]="info.phone">
          </div>
          <div class="ml-auto h3 w-50px text-center iconhidden"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <div class="posibleFix ml-auto center iconhidden2"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <div class="w-33 mt-5 border-bottom border-right ">
      <div class="box d-flex align-items-center justify-content-center">
        <h4 class="colorTitle ">EDUCATION</h4>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal3 ml-auto margin-20 "></div>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal4 ml-auto margin-70 margin-right-15p "></div>
      </div>
      <div class="d-flex">
        <div class="lineVehical ml-auto "></div>
      </div>
      <div *ngFor="let education of info?.education; let i=index">
        <div class="text-center mt-3" onkeyup="this.value = this.value.toUpperCase();" [class.mgtmb]="i!==0">
          <div>
            <input class="text-center font-weight-bold w-100 text-input-upper " [readonly]="!isModify" [class.inputForm]="!isModify" name="positionEducation"
              (ngModelChange)="changeValueInput()" placeholder="Position {{i+1}}" [(ngModel)]="education.position">
          </div>
          <div>
            <input class="text-center w-100 text-input-upper " [readonly]="!isModify" [class.inputForm]="!isModify" name="nameEducation"
              (ngModelChange)="changeValueInput()" placeholder="Name" [(ngModel)]="education.name">
          </div>
          <div>
            <input class="text-center w-100 text-input-upper " [readonly]="!isModify" [class.inputForm]="!isModify" name="durationEducation"
              (ngModelChange)="changeValueInput()" placeholder="Duration" [(ngModel)]="education.duration">
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-33 d-flex flex-column border-bottom">
      <div class="box d-flex align-items-center justify-content-center alert-info">
        <h4 class="colorTitle ">SKILLS</h4>
      </div>
      <br />
      <div class="row  pt-3 pb-2 pr-2 pl-2" *ngFor="let skill of info?.skills ; let i=index">
        <div class="col-md-5">
          <div>
            <input class="text-left-mobi" [readonly]="!isModify" [class.inputForm]="!isModify" name="skilltitle"
              (ngModelChange)="changeValueInput()" placeholder="Title {{i+1}}" [(ngModel)]="skill.title">
          </div>
        </div>
        <div class="col-md-7 d-flex align-items-center justify-content-center">
          <progressbar class="progress-striped active" [value]="skill.process" type="info"><i>{{skill.process}} / 100</i></progressbar>
          <input type="number" class="text-center" [readonly]="!isModify" [class.d-none]="!isModify" min="0" max="100"
            [(ngModel)]="skill.process" style="width:50px;">
        </div>
      </div>

      <div class="box2 d-flex align-items-center justify-content-center alert-info mt-auto magrin-bottom-20px">
        <h4 class="colorTitle ">EXPERIENCE</h4>
      </div>

    </div>
    <div class="w-33 mt-5 border-bottom border-left">
      <div class="box d-flex align-items-center justify-content-center">
        <h4 class="  colorTitle  ">EXPERTISE</h4>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal1 mr-auto margin-20 "></div>
      </div>
      <div class="d-flex">
        <div class="lineHorizontal2 mr-auto margin-70 margin-left-15p "></div>
      </div>
      <div class="d-flex">
        <div class="lineVehical mr-auto "></div>
      </div>
      <div>
        <div class="d-flex align-items-center justify-content-center flex-column mt-3 fontminmobile">
          <div class="w-100 " *ngFor="let expertise of info?.expertise; let i=index">
            <input class="text-center expertise w-100" [readonly]="!isModify" [class.inputForm]="!isModify" onkeyup="this.value = this.value.toUpperCase();" name="expertise+i"
              (ngModelChange)="changeValueInput()" placeholder="Expertise {{i+1}}" [(ngModel)]="expertise.title">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row ml-4 mr-4 mt-5" *ngFor="let experience of info?.experiences ; let i =index;">
    <div class="col-md-9 ">
      <h4>
        <input class="w-100 colorTitle font-mb" [readonly]="!isModify" [class.inputForm]="!isModify" name="nameExperient"
          (ngModelChange)="changeValueInput()" placeholder="Expertise {{i}}" [(ngModel)]="experience.name">
      </h4>
      <div *ngIf="!isModify">
        <p>{{experience.discription}} </p>
      </div>
      <div *ngIf="isModify" class="w-100">
        <textarea class="w-100 " rows="4" (ngModelChange)="changeValueInput()" placeholder="Discription" name="discription"
          [(ngModel)]="experience.discription"></textarea>
      </div>
      <div class=" row" *ngFor="let position of experience.position; let i=index;">
        <div class="col-1 text-right"> <i class="fa fa-asterisk" aria-hidden="true"></i></div>
        <div class="col-11 text-left"> <input class=" w-100 " [readonly]="!isModify" [class.inputForm]="!isModify" name="positionExperient"
            (ngModelChange)="changeValueInput()" placeholder="You can" [(ngModel)]="position.title"></div>
      </div>

    </div>
    <div class="col-md-3 mt-5 pr-3 alert-info d-flex align-items-center justify-content-center flex-column">
      <div>{{experience.name}}</div>
      <div class="w-100">
        <input class=" w-100 alert-info text-center" [readonly]="!isModify" [class.inputForm]="!isModify" name="experienceaddress"
          (ngModelChange)="changeValueInput()" placeholder="Address" [(ngModel)]="experience.address">
      </div>
      <div class="w-100">
        <input class=" w-100 alert-info text-center" [readonly]="!isModify" [class.inputForm]="!isModify" name="experienceduration"
          (ngModelChange)="changeValueInput()" placeholder="Duration" [(ngModel)]="experience.duration">
      </div>
    </div>
  </div>
</div>
<footer class="footer mt-3"></footer>